<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=0,minimum-scale=0.5">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <title>金享财行官网_金融理财,保本理财,商业保理,融资租赁,银行理财产品</title>
        <meta name="keywords" content="金享财行,金融理财,保本理财,商业保理,融资租赁,银行理财产品,理财平台,保本型理财,无风险理财,稳健型理财产品,高收益理财,低风险理财,合理理财,专户理财" />
        <meta name="description" content="金享财行是一家创新型互联网金融信息服务平台，在细分金融领域，票据理财、融资租赁、商业保理范畴，真正能做到用户体验的极致。健全的风控体系，6大安全保障,助您的理财资产最大化！" />
        <script type="text/javascript" src="__WAP__/js/jquery-1.8.2.min.js"></script><!--jquery文档-->
        <script type="text/javascript" src="__WAP__/js/public.js"></script><!--共有jquery文档-->
        <script type="text/javascript" src="__WAP__/js/touchScroll.js"></script><!--滑屏轮播插件包-->
        <script type="text/javascript" src="__WAP__/js/touchslider.dev.js"></script><!--滑屏轮播插件包-->
        <link rel="stylesheet" type="text/css" href="__WAP__/css/public.css" />
        <link href="__WAP__/css/style.min.css" rel="stylesheet" />
    </head>
    <body id="top">
        <header id="title" class="header">
            <a class="logo" href="javascript:void(0);" target="_self" style="background-image: url(__WAP__/images/logo_250x50.png)"></a>
            
            <span></span>
            <p>
                <a href="{wap_url a="index" r="login"}"  class="loadinglink">登录</a>/
                <a href="{wap_url a="index" r="register"}" class="loadinglink" >注册</a>
                </span>
            </p>
        </header> 
        <div class="page_total">{$data.page.page_total}</div>
        <!--分页总数-->