<include file="public/header" />
<div class="wrap">
<div class="blank"></div>
<div id="manageleft" class="f_l" style="width:192px;min-height:300px;">
    <include file="public/uc_cate" />
</div>
<!--主题部分开始-->
<div class="tabbox">
	<div class="tab">
		<a href="/home/user/incharge">会员充值</a>
	</div>
	<div class="tab cur">
		<a href="/home/user/incharge_log">充值记录</a>
	</div>
</div>

<div class="uc_box">
	<div  class="uc-table u_incharge">
		<table width="100%;" border="0" cellspacing="0" cellpadding="0" class="uc-table">
			<tr border="0">
				<th style="width:25%">支付单号</th>
				<th style="width:20%">充值金额</th>
				<th style="width:20%">下单时间</th>
				<th style="width:20%">付款时间</th>

				<th style="width:15%">是否已支付</th>
			</tr>
             <foreach name="list" id="item">
			<tr class="item {if $key mod 2 eq 1}item_1{/if}" >
				<td>
					{$item.notice_sn}
				</td>

				<td >
					{$item['money_e2']/100|number_format=2}
				</td>
				<td >
					{$item.create_time|date="Y-m-d H:i:s",###}
				</td>
				<td >
					<if condition='$item.update_time neq null'>
                                            {$item.update_time|date="Y-m-d H:i:s",###}
                                        <else/>
                                            无
                                        </if>
				</td>

				<td >
                                        {$item.resp_desc}
				</td>
			</tr>
			</foreach>
		</table>
		<div class="pages">{$page}</div>
	</div>
	<div class="blank10"></div>
</div>

<script type="text/javascript">
    var resp_desc = "{$resp_desc}";
    var resp_code = "{$_REQUEST['resp_code']}";
    if(resp_code == "0000"){
        $.showSuccess("充值成功");
    }else{
        if(resp_desc){
            $.showErr(resp_desc);
        }
    }
</script>
<!--主题部分开始-->
<include file="public/footer" />