<include file="public/header" />
<!--<load href='__ADMIN__/js/jquery.bgiframe.js' />-->
<!--<load href='__ADMIN__/js/user.js' />-->
<!--<script type="text/javascript" src="__ADMIN__/js/calendar/calendar.php?lang=zh-cn" ></script>-->
<!--<load href='__ADMIN__/js/calendar/calendar.css' />-->
<!--<load href='__ADMIN__/js/calendar/calendar.js' />-->
<div class="main">
    <div class="main_title" style="height:30px;"><span style="font-size:16px;line-height:30px;font-weight:bold;">还款审核<span>
</div>
    <div class="blank5"></div>
<style type="text/css">
table.gridtable {
	 border: 1px solid blue;
}
table.gridtable th {

}
table.gridtable td {

}
</style>
<div style="height:50px;background-color:#C9C9C9;">
    <span style="margin-left:10px;position:relative;top:-2px;height:50px;line-height:50px;"><a href="/admin/finance/loan?dmonth={$onMonth}"> <img title="上一月" src="__ADMIN__/images/right.png"></a></span>
    <span style="margin-left:40%;position:relative;top:0px;align:center;height:50px;line-height:50px;font-size:22px;">{$Month}</span>
    <span style="margin-right:10px;position:relative;top:6px;height:50px;float:right;line-height:50px;font-size:22px;"><a href="/admin/finance/loan?dmonth={$lastMonth}"><img title="下一月" src="__ADMIN__/images/left.png"></a></span>
</div>
<style type="text/css">
    table {width:1400px;align:center;text-align:center;margin-top:10px;}
    table tr{width:1400px;align:center;text-align:center}
    table td{width:300px;height:100px;}
    table td a {text-decoration:none;color:black;}
    table td a ul {padding:0px;margin:0px;}
    table td a ul li{list-style:none;padding:0px;margin:0px;text-align:left;margin-left:4px;height:25px;font-size:14px;}
</style>
<table style="gridtable" border=1 cellpadding=0 cellspacing=0>
    <tr>
    <foreach name="week_info" item="week">
        <td> {$week} </td>
    </foreach>
     </tr>
    <foreach name="new_calendar" item="calendar">
        <tr>
            <foreach name="calendar" item="vo">
                <td <?php if ($vo['week_day'] == $today) echo 'style="background: #00ff00"';?>>
                    <a href="/admin/finance/show_loan?qixi_date={$vo.week_day}">
                        <ul>
                            <li>{$vo.week_day}</li>
                            <if condition="$vo.deal_load_count neq 0">
                                <li style='color:red;'>标的总数：{$vo.deal_load_count}个</li>
                            </if>
                            <if condition="$vo.date_all_repay_money neq 0">
                                <li style='color:red;'>入金总额：{$vo['remain_capital']/100|number_format=2}元</li>
                            </if>
                        </ul>
                    </a>
                </td>
            </foreach>
        </tr>
    </foreach>
</table>
<div class="blank5"></div>
<div class="blank5"></div>
<tr>
	<td colspan=12 class="hide Text-{$item.l_key}">
	</td>
</tr>
</div>
<include file="public/footer" />