html,body {
  height: 100%;
  font-family:'Microsoft YaHei','Hiragino Sans GB',Helvetica,Arial,'Lucida Grande',sans-serif;
  font-size: 62.5%;
}
#thanksgiving_m img .bg {
  display: block;
}
#thanksgiving_m .header_m img,
#thanksgiving_m .content_m img.bg {
  width: 100%;
  height: auto;
}
#thanksgiving_m .header_m,
#thanksgiving_m .content_m,
#thanksgiving_m .slotMain_m,
#thanksgiving_m .rule_m,
#thanksgiving_m .prodShow_m {
  position: relative;
  width: 100%;
}
#thanksgiving_m .slotMain_m {
  overflow: hidden;
}
#thanksgiving_m .slotMain_m .cnt {
  width: 100%;
  position: absolute;
  top: 0;
  height:262px;
}
#thanksgiving_m .content_m .slotMain_m .cnt #slotMain .slotMachine .slotMachineContainer,
#thanksgiving_m .slotMain_m .cnt .info,
#thanksgiving_m .slotMain_m .cnt .btnPull {
  position: absolute;
}
#thanksgiving_m .content_m .slotMain_m .cnt #slotMain .slotMachine .slotMachineContainer {
  width: 100%;
  top: 30%;
  left: 19%;
}
@media (max-width: 370px) {
  #thanksgiving_m .content_m .slotMain_m .cnt #slotMain .slotMachine .slotMachineContainer {
    top: 28.5%;
    left: 19%;
  }
}
#thanksgiving_m .content_m .slotMain_m .cnt #slotMain .slotMachine .slotMachineContainer.machineContainer {
  overflow: hidden;
  height: 50%;
  width: 100%;
}
#thanksgiving_m .content_m .slotMain_m .cnt #slotMain .slotMachine .slotMachineContainer .machineResult {
  display: none;
}
#thanksgiving_m .content_m .slotMain_m .cnt #slotMain .slotMachine .slotMachineContainer .slotMachine {
  position: relative;
  width: 13.5%;
  height: 5rem;
  margin-right: 7.2%;
  padding: 0px;
  overflow: hidden;
  display: inline-block;
  text-align: center;
}
#thanksgiving_m .content_m .slotMain_m .cnt #slotMain .slotMachine .slotMachineContainer .slotMachine .slot {
  height: 5rem;
  background-position-x: 55%;
  background-repeat: no-repeat;
  background-size: 80% 100% ;
}
#thanksgiving_m .slotMain_m .cnt .info {
  top:30%;
  left: 25.5%;
  width:55%;
  text-align: center;
  border-radius:10px;
  background:#fedb5b;
  line-height:2.5rem;
  color:#ffffff;
}
#thanksgiving_m .slotMain_m .cnt .info a {
  text-decoration: none;
  color: #CA3A23;
}
#thanksgiving_m .slotMain_m .cnt .btnPull {
  top: 0;
  left: 39%;
  width: 21%;
  cursor: pointer;
}
#thanksgiving_m .slotMain_m .cnt .btnPull.hide {
  visibility: hidden;
}
@media (min-width: 375px) {
  #thanksgiving_m .slotMain_m .cnt .info a {
  text-decoration: none;
  color: #CA3A23;
  font-size: 1.5rem;

  }
}
@media (min-width: 767px) {
  #thanksgiving_m .slotMain_m .cnt .info a {
  text-decoration: none;
  color: #CA3A23;
  font-size: 3rem;
  }
}
* {
        font-size: 14px;
        margin: 0;
        padding: 0;
    }

    #logincover {
        position: fixed;
        left: 0;
        top: 0;
        background: black;
        opacity: 0.8;
        z-index: 100;
        width: 100%;
        height: 100%;
        display: none;
    }

    #loginbox {
        position: fixed;
        left: 0;
        top: 0;
        width: 80%;
        background: red;
        border: 5px solid yellow;
        border-radius: 4px;
        z-index: 101;
        display: none;
    }

    #loginbox .header {
        font-size: 1.2rem;
        border-bottom: 0.08rem solid yellow;
        text-align: center;
        color: white;
        padding: 10px 0;
        margin-bottom: 5%;
    }

    #loginbox .inputlist span {
        vertical-align: middle;
        color: white;
        padding-left: 1em;
        width: 25%;
        font-size: .9rem;
        display: inline-block;
    }

    #loginbox .inputlist input {
        border: none;
        border: 1px solid yellow;
        display: inline-block;
        width: 60%;
        margin: 2% auto;
        padding: 2% 0;
        vertical-align: middle;
    }
    .btnbox{
        width: 80%;
        margin: 0 auto;
    }
    #loginbtn,#regbtn {
        float: left;
        width: 45%;
        text-align: center;
        text-decoration: none;
        color: white;
        background: red;
        border: 1px solid yellow;
        border-radius: 4px;
        margin: 3% auto;
        padding: 3% 0;
    }
    #regbtn{
        float: right;
    }

    #closebtn {
        position: absolute;
        top: 0;
        right: 0;
        color: white;
        padding: 4%;
    }

    #alertresult {
        position: fixed;
        left: 0;
        top: 0;
        width: 80%;
        background: red;
        border: 5px solid yellow;
        border-radius: 4px;
        z-index: 101;
        padding: 5% 0;
        display: none;
    }

    #alertresult .title {
        font-size: 24px;
        line-height: 30px;
        color: white;
        text-align: center;
        padding: 10px;
        float: none;
        display: block;
        margin-bottom: 20px;
    }

    #alertresult .cont {
        width: 80%;
        height: 124px;
        margin: 0 auto;
        background: white;
        margin-bottom: 20px;
    }

    #alertresult .cont img {
        display: block;
        margin: 0 auto;
        padding-top: 10px;
    }

    #alertresult .successbtn {
        width: 80%;
        margin: 0 auto;
        background: red;
        display: block;
        height: 40px;
        color: white;
        text-align: center;
        border: 1px solid yellow;
        text-decoration: none;
        line-height: 40px;
        font-size: 16px;
    }