<include file="public/header" />
<link rel="stylesheet" type="text/css" href="__WAP__/css/init.css" />
<script type="text/javascript" src="__WAP__/js/init.js"></script>

<div class="page-index wap-subnav">
    <ul>
        <li class="cur">  
            <a href="javascript:;">首页</a>
        </li>
        <li class="list_r">
            <a class="loadinglink" href="index.php?ctl=deals">项目列表</a>
        </li>
    </ul>
</div>
<div class="wap-wrapper">
    <div class="swipe" style="padding-top: 5px;">
        <ul id="slider">

            <li><a href="#"><img src="#"  alt=""/></a></li>

        </ul>

        <div id="pagenavi">

            <a href="javascript:void(0);" class="active" ></a>

        </div>

    </div>

    <div id="js_pidx_w" style="height: 204px;">

        <div id="day_normal">
            <div class="pro_info">
                <div class="apr"> 
                    <p>
                        <span class="f_s60">18</span><span class="apr_20">89</span><span class="nh">年化</span>
                    </p>
                </div>
                <div class="time_length">
                    <p class="t_f4">
                        <span class="f_s20 c_EF5A50">{$data.repay_time}</span><span>天</span>
                    </p>
                    <p class="t_z4 f_s15 c_858585">项目期限</p>
                </div>
                <div class="project_amount">
                    <p class="t_f4">
                        <span class="f_s20 c_EF5A50">{$data.borrow_amount_e2}</span><span></span>
                    </p>
                    <p class="t_z4 f_s15 c_858585">项目规模</p>
                </div>
            </div>
            <div class="progress">
                <span class="red" style="width: 25%"><div>25%</div></span>
            </div>
            <div class="invest_btn">
                <a href="111" class="invest to_detail" data-id="544f6754385454395730524e546b2f51377768316f673d3d" data-type="2" href="javascript:;">立即投资</a>
            </div>
        </div>
    </div>
</div>
<include file="public/footer" />       

