ol,
ul,
li,
p,
a,
span,
div,
body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
input {
  -moz-appearance: none;
  -moz-text-size-adjust: none;
  -ms-appearance: none;
  -ms-text-size-adjust: none;
  -o-appearance: none;
  -o-text-size-adjust: none;
  -webkit-appearance: none;
  -webkit-text-size-adjust: none;
  appearance: none;
  font-family: -apple-system-font, simhei, "Helvetica Neue", "Hiragino Sans GB", "冬青黑体", 'Microsoft Yahei', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-size-adjust: none;
}
html,
body {
  min-height: 100%;
  width: 100%;
}
body {
  background-color: #eeeeee;
  font-size: 16px;
}
ol,
ul,
li {
  list-style: none;
}
i {
  font-style: normal;
}
input {
  outline: 0;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
iframe {
  border: 0;
}
footer a,
footer a:link,
footer a:visited,
footer a:hover,
footer a:active {
  color: #007aff;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
.FloatLeft {
  float: left;
}
.FloatRight {
  float: right;
}
.Clear {
  clear: both;
}
.CursorPointer {
  cursor: pointer;
}
/*元素样式*/
.DisplayNone {
  display: none !important;
}
.DisplayBlock {
  display: block;
}
.DisplayInline {
  display: inline;
}
.DisplayInlineBlock {
  display: inline-block;
}
.VisibilityHidden {
  visibility: hidden;
}
.VisibilityVisible {
  visibility: visible;
}
.BoxRadius {
  -moz--border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.BoxShadow {
  -webkit-box-shadow: 1px 1px 3px #333;
  -moz-box-shadow: 1px 1px 3px #333;
  -ms-box-shadow: 1px 1px 3px #333;
  box-shadow: 1px 1px 3px #333;
}
.pro_info {
  height: 100px;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  box-sizing: border-box;
  padding-left: 35px;
  padding-right: 36px;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
}
.pro_info {
  -moz-box-align: center;
  -moz-box-orient: horizontal;
  -moz-box-pack: justify;
  -o-box-align: center;
  -o-box-orient: horizontal;
  -o-box-pack: justify;
  -webkit-box-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  height: 100px;
  padding-left: 35px;
  padding-right: 36px;
}
.pro_info .apr {
  -moz-box-align: center;
  -moz-box-pack: center;
  -o-box-align: center;
  -o-box-pack: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
}
.pro_info .apr p {
  color: #EF5A50;
  font-size: 12px;
}
.pro_info .apr p .nh {
  font-size: 14px;
}
.f_s60 {
  font-size: 60px;
}
.pro_info .time_length,
.pro_info .project_amount {
  -moz-box-align: center;
  -moz-box-orient: vertical;
  -moz-box-pack: center;
  -o-box-align: center;
  -o-box-orient: vertical;
  -o-box-pack: center;
  -webkit-box-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
}
.pro_info .time_length p,
.pro_info .project_amount p {
  position: relative;
}
.t_f4 {
  top: -4px;
}
.t_z4 {
  top: 4px;
}
.f_s20 {
  font-size: 20px;
}
.f_s18 {
  font-size: 18px;
}
.c_EF5A50 {
  color: #ef5a50;
}
.c_858585 {
  color: #858585;
}
.f_s15 {
  font-size: 15px;
}
.progress {
  background-color: #CCC;
  border-radius: 15px;
  height: 10px;
  margin: 2px auto 28px;
  position: relative;
  width: 90%;
}
.progress .red {
  background-color: #EF5A50;
  border-radius: 15px;
  height: 10px;
  left: 0;
  position: absolute;
  top: 0;
}
.progress .red div {
  background-color: #fff;
  border: 1px solid #CCC;
  border-radius: 15px;
  color: #D53736;
  font-size: 12px;
  height: 28px;
  line-height: 28px;
  position: absolute;
  right: -14px;
  text-align: center;
  top: -10px;
  width: 28px;
}
body {
  background: #26d7f7;
}
#lottery {
  position: relative;
}
#lottery .mainbg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
#lottery .mainbg img {
  width: 100%;
  display: block;
}
#lottery > .main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #176fa7;
}
#lottery > .main .blank {
  width: 100%;
}
#lottery > .main .lottery {
  width: 90%;
  background: url(../../images/activity/lottery_wap/lottery_headebanner_left.png) no-repeat;
  background-size: 100% auto;
  border: 10px solid #2f3676;
  -moz--border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
}
#lottery > .main .lottery table td {
  width: 26%;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  color: #333;
  font-index: -999;
}
#lottery > .main .lottery table td img {
  display: block;
  margin: 0 auto;
  width: 100%;
}
#lottery > .main .lottery table td .getbtn {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  background: #d01504;
  line-height: 4em;
  color: white;
  font-size: 1.5rem;
}
#lottery > .main .lottery table .active {
  background-color: red;
}
#lottery > .main .lottery .btncover {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  background: transparent;
}
#lottery > .main .rules {
  width: 90%;
  margin: 30px auto 80px auto;
}
#lottery > .main .rules img {
  width: 100%;
}
#lottery .cover {
  height: 800;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0.8;
}
#lottery .alertresult {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: none;
}
#lottery .alertresult .main {
  width: 280px;
  height: 290px;
  margin: 0 auto;
  background: #2f3676;
  -moz--border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
#lottery .alertresult .main .title {
  font-size: 24px;
  line-height: 30px;
  color: white;
  text-align: center;
  padding: 10px;
}
#lottery .alertresult .main .cont {
  width: 260px;
  height: 124px;
  margin: 0 auto;
  background: white;
  margin-bottom: 10px;
}
#lottery .alertresult .main .cont img {
  display: block;
  margin: 0 auto;
  padding-top: 10px;
}
#lottery .alertresult .main .successbtn {
  width: 260px;
  margin: 0 auto;
  background: #447ee7;
  display: block;
  height: 40px;
  color: white;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  margin-bottom: 10px;
}
#lottery .alertresult .main .goonbtn {
  width: 260px;
  margin: 0 auto;
  background: #d01504;
  display: block;
  height: 40px;
  color: white;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
}
#lottery .alertregister {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: none;
}
#lottery .alertregister .main {
  width: 80%;
  margin: 0 auto;
  background: #2f3676;
  padding: 5% 5%;
  -moz--border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
#lottery .alertregister .main .title {
  color: white;
  line-height: 2rem;
  text-align: center;
  font-size: 2rem;
}
#lottery .alertregister .main .phonecont {
  width: 90%;
  display: block;
  padding: 5% 0;
  margin: 8% auto 2% auto;
  text-align: center;
}
#lottery .alertregister .main .errortips {
  width: 90%;
  text-align: center;
  padding: 2% 0;
  color: white;
  margin: 0 auto;
  opacity: 0;
}
#lottery .alertregister .main .show {
  opacity: 1;
}
#lottery .alertregister .main .gobtn {
  width: 60%;
  padding: 5% 0;
  display: block;
  color: white;
  margin: 0 auto;
  text-align: center;
  background: red;
}
