<include file="public/header" />
<load href='__ADMIN__/js/jquery.bgiframe.js' />
<script src="__ADMIN__/js/pinphp.js"></script>
<script type="text/javascript">
    function show_detail(id)
    {
        window.location.href = ROOT + '?m=Deal&a=show_detail&id=' + id;
    }
</script>
<div class="main">
    <div class="main_title">全部借款</div>
    <div class="blank5"></div>
    <div class="button_row" style="position:relative;top:5px;">
        <a class="button" style="text-decoration:none;" href="/admin/borrower/add">新增</a>
        <a class="button" style="text-decoration:none;" onclick="publicDelete('borrower','borrower');">删除</a>
    </div>
    <div class="blank5"></div>
    <div class="blank5"></div>
    <div class="blank5"></div>
    <div class="search_row">
        <form name="search" action="/admin/borrower/index" method="post">
            借款人名称：<input type="text" class="textbox" name="name" value="{$_REQUEST['name']}" />
            <input type="submit" class="button" value="搜索" />
        </form>
    </div>
    <div class="blank5"></div>
    <table id="dataTable" class="dataTable" cellpadding=0 cellspacing=0 >
        <tr><td colspan="22" class="topTd" >&nbsp; </td></tr>
        <tr class="row">
            <th width="8">
                <input type="checkbox" id="check" onclick="CheckAll('dataTable')">
            </th>
            <th width="50px">
                <a  href="javascript:sortBy('id',{$sort})" id="bianhao" data="asc" title="按照编号升序排列">编号</a>
            </th>
            <th>
                <a href="javascript:sortBy('name',{$sort})" title="按照贷款名称升序排列">借款人名称</a>
            </th>
            <th>
                <a href="javascript:sortBy('login_id',{$sort})" title="按照借款人升序排列">账户ID</a>
            </th>
            <th>
                <a href="javascript:sortBy('status',{$sort})" title="按照借款分类升序排列">是否启用</a>
            </th>
            <th>
                <a href="javascript:sortBy('is_effect',{$sort})" title="按照状态升序排列">状态</a>
            </th>
            <th class="op_action">
                <a href="javascript:void(0)" class="A_opration">操作</a>
            </th>
        </tr>
        <foreach name="list" id="borrower" key="key">
        <tr class="row " >
            <td>
                <input type="checkbox" name="key" class="key" value="{$borrower.id}">
            </td>
            <td>
                &nbsp;{$borrower.id}
            </td>
            <td>
                &nbsp;<a href="javascript:edit('724')">{$borrower.user_name}</a>
            </td>
            <td>
                &nbsp;<a href="#">{$borrower.fuiou_account}</a>
            </td>
            <td>
                &nbsp;<span class='is_advance' onclick='set_deal_attr("borrower","borrower","status",{$borrower.id},this);'>{$borrower.status_desc}</span>
            </td>
            <td>
                &nbsp;<span class='is_effect' onclick='set_deal_attr("borrower","borrower","is_effect",{$borrower.id},this);'>{$borrower.is_effect_desc}</span>
            </td>
            <td class="op_action">
                <div class="viewOpBox">
                    <a href="javascript:edit('{$borrower.id}')">编辑</a>&nbsp;
                </div>
                <a href="javascript:void(0);" class="opration">操作</a>
            </td>
        </tr>
        </foreach>
 </table>
<div class="blank5"></div>
<div class="page" style="text-align:center;">{$page}</div>
</div>
<include file="public/footer" />