<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>首页顶部</title>
<load href='__ADMIN__/css/style.css' />
<load href='__ADMIN__/css/top.css' />
<load href='__ADMIN__/js/jquery.js' />
<load href='__ADMIN__/js/jquery.timer.js' />
<load href='__ADMIN__/js/top.js' />
</head>
<body>
	<div id="info"></div>
	<div id="logo"><img src="__ADMIN__/images/login/logo.png" border="0" /></div>
	<div class="l_r">
		<div id="tips">
			登录账户:{:session('admin_info.admin_name')}&nbsp;（系统管理员）
			<a href="/" target="_blank">网站首页</a>
			<a href="/admin/menu/map_show" target="main">后台地图</a>
			<a href="#" target="main">修改密码</a>
			<a href="/admin/cache/index" target="main">清除缓存</a> 
			<a href="/admin/admin/logout" target="_parent">注销</a>
		</div>
                <div id="navs">
                    <ul>
                        <foreach name="menu_list" id="menu">
                            <li><a href="/{$menu.module_name}/{$menu.controller}/{$menu.action_name}?menu_id={$menu.id}">{$menu.name}</a></li>
                        </foreach>
                    </ul>
		</div>
	</div>
</body>
</html>
