* {
  margin: 0;
}
body {
  position: relative;
}
#showitem {
  width: 240px;
  height: 240px;
  border: 6px solid yellow;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #a80f10;
  display: none;
}
#showitem img {
  display: block;
  margin: 30px auto;
}
#showitem p {
  color: white;
  text-align: center;
}
#main {
  width: 100%;
  height: 2252px;
  background: url(/front/images/activity/hfbl/bg.jpg) top center;
}
#slotMachineBox {
  width: 100%;
  height: 636px;
  /*background: url(/front/images/activity/ThanksDay/slotMachineboxbg.png) top center;*/
}
#slotMachineBox .main {
  width: 1200px;
  margin: 0 auto;
  padding-top: 44px;
}
#cover {
  width: 100%;
  height: 100%;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  display: none;
  opacity: 0.8;
}
#alertrecord {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 300;
  display: none;
}
#alertrecord .main {
  width: 480px;
  height: 400px;
  position: relative;
  border: 10px solid yellow;
  background-color: red;
  border-radius: 6px;
}
#alertrecord .main .title {
  font-size: 30px;
  line-height: 40px;
  color: white;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  float: none;
  display: block;
}
#alertrecord .main .cont {
  width: 460px;
  margin: 0 auto;
  border-top: 1px solid yellow;
  border-bottom: 1px solid yellow;
  margin-bottom: 20px;
}
#alertrecord .main .cont span {
  line-height: 1em;
}
#alertrecord .main .cont .name {
  float: left;
  width: 300px;
}
#alertrecord .main .cont .date {
  float: left;
  width: 100px;
}
#alertrecord .main .cont dt,
#alertrecord .main .cont dd {
  padding: 13px 0;
}
#alertrecord .main .cont dt {
  color: #828be1;
  font-size: 18px;
}
#alertrecord .main .cont dt .name,
#alertrecord .main .cont dt .date {
  text-align: center;
  color: white;
}
#alertrecord .main .cont dd {
  width: 442px;
  margin: 0 auto;
}
#alertrecord .main .cont dd .name {
  color: white;
  text-indent: 2em;
}
#alertrecord .main .cont dd .date {
  color: white;
  text-align: center;
}
#alertrecord .main .page {
  text-align: center;
}
#alertrecord .main .page a {
  color: #4e57a4;
  padding: 0 3px;
}
#alertrecord .main .page .active {
  text-decoration: underline;
  color: white;
}
#alertrecord .main .closebtn {
  display: block;
  position: absolute;
  top: 5px;
  right: -66px;
  width: 38px;
  height: 38px;
  padding-bottom: 10px;
  background: url(/front/images/activity/lottery/alerty_close_btn.png) no-repeat center center;
  border: 2px solid transparent;
}
#alertrecord .main .closebtn:hover {
  border-bottom: 2px solid #f1f2ff;
}
#alertshare {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  height: 100%;
  display: none;
}
#alertshare .main {
  width: 420px;
  height: 260px;
  position: relative;
  background-size: 100% 100%;
  border: 10px solid yellow;
  background-color: red;
  border-radius: 6px;
  /* .goinvite{
			// background: #d01504;
			&:hover{
				background: lighten(#d01504,10%);
			}
		} */
}
#alertshare .main .title {
  font-size: 24px;
  line-height: 30px;
  color: white;
  text-align: center;
  padding: 16px 0;
  float: none;
  width: 100%;
  display: block;
  margin-bottom: 10px;
}
#alertshare .main .cont {
  width: 360px;
  height: 90px;
  margin: 0 auto;
  background: white;
  margin-bottom: 20px;
}
#alertshare .main .cont p {
  text-align: center;
  width: 300px;
  font-size: 16px;
  padding: 8px 0;
  margin: 0 auto;
}
#alertshare .main .cont .bdsharebuttonbox {
  margin: 0 auto;
  width: 340px;
  margin-left: 50px;
}
#alertshare .main .saomiao,
#alertshare .main .goinvite {
  width: 360px;
  margin: 0 auto;
  background: red;
  border: 2px solid yellow;
  display: block;
  height: 40px;
  color: white;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  margin-bottom: 10px;
}
#alertshare .main .saomiao:hover,
#alertshare .main .goinvite:hover {
  background: yellow;
  color: red;
  text-decoration: none;
}
#alertshare .main .closebtn {
  display: block;
  position: absolute;
  top: 5px;
  right: -66px;
  width: 38px;
  height: 38px;
  padding-bottom: 10px;
  background: url(/front/images/activity/lottery/alerty_close_btn.png) no-repeat center center;
  border: 2px solid transparent;
}
#alertshare .main .closebtn:hover {
  border-bottom: 2px solid #f1f2ff;
}
#alertshare .main .erweima {
  position: absolute;
  top: 60px;
  right: -180px;
  display: none;
  z-index: 5;
}
#alertresult {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  height: 100%;
  display: none;
}
#alertresult .main {
  width: 340px;
  height: 320px;
  border: 10px solid yellow;
  background-color: red;
  border-radius: 6px;
}
#alertresult .main .title {
  font-size: 24px;
  line-height: 30px;
  color: white;
  text-align: center;
  padding: 10px;
  float: none;
  display: block;
  margin-bottom: 20px;
}
#alertresult .main .cont {
  width: 260px;
  height: 124px;
  margin: 0 auto;
  background: white;
  margin-bottom: 20px;
}
#alertresult .main .cont img {
  display: block;
  margin: 0 auto;
  padding-top: 10px;
}
#alertresult .main .successbtn {
  width: 260px;
  margin: 5px auto;
  background: red;
  border: 2px solid yellow;
  border-radius: 4px;
  display: block;
  height: 40px;
  color: white;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
}
#alertresult .main .successbtn:hover {
  background: #719ded;
}
#slotMain {
  width: 682px;
  height: 441px;
  margin: 0;
  background: url();
  background-size: 100% 100%;
}
#slotMain .slotMachine {
  margin-top: 128px;
}
#machine1 {
  margin-left: 100px;
}
#getBtn {
  display: block;
  margin: 0;
  position: relative;
  z-index: 10;
  left: 310px;
  cursor: pointer;
  top: -50px;
  width: 181px;
  height: 146px;
  background: url(/front/images/activity/hfbl/but01_03.jpg) no-repeat bottom center;

}
.getbtn2 {
  background-image: url(/front/images/activity/ThanksDay/getbtn2.png) !important;
}
#slotRules {
  width: 327px;
  position: relative;
  top: -142px;
  left: 590px;
  height: 69px;
  background: url(/front/images/activity/hfbl/tab_03.jpg);
  margin: 0;
  text-align: center;
  color: white;
  padding-top: 20px;
}
#showgift {
  width: 100%;
  margin-bottom: 20px;
}
#showgift .main {
  width: 1325px;
  height: 573px;
  background: url(/front/images/activity/hfbl/content_03.png) left 10px no-repeat;
  background-size: 100% auto;
  padding-top: 100px;
}
#carousel {
  width: 92%;
  height: 149px;
  /*position: relative;*/
  /*background: #f7f7f7;*/
  margin: 0 auto;
  /*top: 450px;*/
}
#carousel .btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 78px;
  cursor: pointer;
  z-index: 29;
  font-size: 50px;
  font-weight: bold;
}
#carousel .prev {
  left: 0;
  background: url(/front/images/activity/ThanksDay/prevbtn.png) no-repeat;
  background-size: 100% 100%;
  display: none;/*隐藏浮动箭头*/
}
#carousel .next {
  right: 0;
  background: url(/front/images/activity/ThanksDay/nextbtn.png) no-repeat;
  background-size: 100% 100%;
  display: none;/*隐藏浮动箭头*/
}
#carousel li {
  float: left;
}
#carousel .cf li {
  position: relative;
  color: #fff;
}
#carousel .cf a {
  display: block;
  width: 680px;
  height: 330px;
  position: absolute;
  color: #fff;
}
#carousel .cf li span {
  display: block;
  width: 640px;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px 20px;
  line-height: 22px;
  text-align: left;
  background: rgba(0, 0, 0, 0.6);
}
#carousel .listBox {
  width: 1006px;
  height: 430px;
  margin: 30px auto;
  position: relative;

  overflow: hidden;
}
#carousel .listBox ul {
  height: 200px;
  position: absolute;
}
#carousel .listBox li {
  width: 197px;
  height: 200px;
  cursor: pointer;
  position: relative;
  background-size: 90% 90%;
  background-color:#d11111;
  border: 3px solid #fddb89;
}
#carousel .listBox li i {
  display: block;
  text-align: center;
  height: 40px;
  background: #fddb89;
  color: #a00e0e;
  border: 2px solid #fddb89;
  font-weight: bold;
}
#carousel .listBox li a {
  display: block;
  width: 184px;
  height: 70px;
}
#carousel .listBox li img {
  height: 116px;
  display: block;
  padding: 10px 0;
  margin: 20px auto 0 auto;
}
#carousel .listBox .on i {
  display: block;
  text-align: center;
  font-weight: bold;
}
#winnerList {
  width: 100%;
  height: 443px;
  /*margin-top: 430px;*/
}
#winnerList .main {
  width: 1200px;
  height: 443px;
  margin: 0 auto;
  background: url() top center no-repeat;
}
#winnerList #nameList {
  /*width: 900px;*/
  margin: 0;
  height: 242px;
  text-align: left;
  /*margin: 0 auto;*/
  /*border: 1px solid red;*/
  /*background: #ce7f00;*/
  overflow: hidden;
}
#winnerList #nameList span{
    text-align: left!important;
}
#winnerList #nameList li {
  text-align: center;
  color: yellow;
  display: none;
}
