<include file="public/header" />
<style type="text/css">
    body {
        margin: 0;
        padding: 0;
    }
    #security{
		width: 100%;
    }
    #footer{
		margin-top: 0;
    }
</style>
<script type="text/javascript">
$(document).ready(function(){
	var fheight = window.document.body.offsetHeight - $("#header").height();
	$("#security").css("height",Math.floor(fheight/window.document.body.offsetHeight*100)+"%");
});
</script>
<div id="security">
    <link rel="stylesheet" type="text/css" href="__HOME__/css/securityPage_source/main.css">
    <link rel="stylesheet" type="text/css" href="__HOME__/css/securityPage_source/jquery.fancybox.css">
    <link rel="stylesheet" type="text/css" href="__HOME__/css/securityPage_source/fullscreen.css">
    <link rel="stylesheet" type="text/css" href="__HOME__/css/securityPage_source/conference.css">
    <div class="dark">
        <section class="page no-submenu bgvideo" id="page-01">
            <div class="inner height-100">
                <div class="vertical-center">
                    <img src="__HOME__/images/securityPage_source/index_min.png" width="340" height="273" alt="" class="logo-conference">
                </div>
                <div class="ico-scroll">
                    <!--<em>Scroll</em>-->
                    <span></span>
                </div>
            </div>
            <video autoplay loop id="video-conference">
                <source src="__HOME__/images/securityPage_source/barcelona-2015-grey.mp4" type="video/mp4">
            </video>
        </section>

        <section class="page" id="page-02">
            <div class="inner width-3 revealOnScroll" data-animation="fadeInUp" data-timeout="0">
                <img src="__HOME__/images/securityPage_source/6Advantages.png" alt="" style="margin: 0 auto;"/>
            </div>
            <div class="inner width-4">
                <div class="grid grid-2">
                    <div class="col n-12 revealOnScroll" data-animation="fadeInUp" data-timeout="0">
                        <div class="box-winner">
                            <img src="__HOME__/images/securityPage_source/images/img1.jpg" alt="">
                            <div class="box-desc vertical-center">
                                <div class="info">
                                    <h4 class="heading-emphasis">专业评估：</h4>
                                    <p>
                                        独立的第三方评估公司，权威估值。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col n-12 revealOnScroll" data-animation="fadeInUp" data-timeout="0">
                        <div class="box-winner">
                            <img src="__HOME__/images/securityPage_source/img2.jpg" alt="">
                            <div class="box-desc vertical-center">
                                <div class="info">
                                    <h4 class="heading-emphasis">跨平台协作：</h4>
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;金享财行与优质担保公司合作，上线以来逾期坏账为0。</p>
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;合作机构核心团队须拥有多年的从业经验，仅选择最优实力的金融企业。</p>
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;合作开启后，金享财行会对合作机构进行跟踪管理，动态调整其授信额度。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col n-12 revealOnScroll" data-animation="fadeInUp" data-timeout="0">
                        <div class="box-winner">
                            <img src="__HOME__/images/securityPage_source/img3.jpg" alt="">
                            <div class="box-desc vertical-center">
                                <div class="info">
                                    <h4 class="heading-emphasis">实地考察：</h4>
                                    <p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;与合作机构实地考察贷款企业经营情况，源头把控风险。
                                    </p>
                                    <h4 class="heading-emphasis">资料审核：</h4>
                                    <p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;借款企业六证一卡、近三年财务审计报告全方位材料审核。
                                    </p>
                                    <!--<h4 class="heading-emphasis">还款能力：</h4>
                                    <p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;结合借款企业实际情况，联合会计事务所和律师事务所，运用专业的风险技术综合评估还款能力。
                                    </p>-->
                                    <h4 class="heading-emphasis">质押办理：</h4>
                                    <p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;通过专业评估后办理资产的相关质押手续。
                                    </p>
                                    <h4 class="heading-emphasis">黑名单管理：</h4>
                                    <p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上海资信等征信机构合作黑名单动态数据管理。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col n-12 revealOnScroll" data-animation="fadeInUp" data-timeout="0">
                        <div class="box-winner">
                            <img src="__HOME__/images/securityPage_source/img4.jpg" alt="">
                            <div class="box-desc vertical-center">
                                <div class="info">
                                    <h4 class="heading-emphasis">专款专用：</h4>
                                    <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;独立第三方机构资金托管，用户通过第三方支付平台进行资金交易，实现了投资人与借款企业资金的直接对接，进而避免了资金池风险并实现了借款资金的专款专用。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col n-12 revealOnScroll" data-animation="fadeInUp" data-timeout="0">
                        <div class="box-winner">
                            <img src="__HOME__/images/securityPage_source/img5.jpg" alt="">
                            <div class="box-desc vertical-center">
                                <div class="info">
                                    <h4 class="heading-emphasis">安全技术体系：</h4>
                                    <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;全程自主开发的专业平台，先进的安全技术体系，全方位保护金享财行用户的个人信息、账户信息以及交易记录信息。</p>
                                    <h4 class="heading-emphasis">运维监测体系：</h4>
                                    <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;完善的运维监测体系，在用户的账户发生异常访问或登录时，及时锁定账户及账户资金，并联系用户核实情况，全面保障用户信息及资金安全。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col n-12 revealOnScroll" data-animation="fadeInUp" data-timeout="0">
                        <div class="box-winner">
                            <img src="__HOME__/images/securityPage_source/img6.jpg" alt="">
                            <div class="box-desc vertical-center">
                                <div class="info">
                                    <h4 class="heading-emphasis">隐私体系保护：</h4>
                                    <p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;金享财行有严格的用户信息操作规范，从流程上确保用户隐私不被泄露。金享财行与第三方机构合作时，要求其遵守相关协议，保证用户隐私不受侵犯。
                                    </p>
                                    <p>金享财行不会将用户信息泄露给其他机构，除非出现以下情形：</p>
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-征得用户事先同意而披露</p>
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-应国家法律法规等要求而披露</p>
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-应政府机关、司法检查机关及相关部门的要求而披露</p>
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-应相关监管机构的要求而披露</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="inner width-5 horizontal-center revealOnScroll" data-animation="fadeInUp" data-timeout="0">
                <div class="box-acknowledgements">
                    <a class="register" href="/home/system/step_one" target="_blank">立即注册</a>
                </div>
            </div>
        </section>

        <!-- 放在文件的末端，使页面加载速度更快 -->
        <script type="text/javascript">
            window.dataLayer = window.dataLayer || [];

            if (window.location.hash && window.location.hash == '#_=_') {
                if (window.history && history.pushState) {
                    window.history.pushState("", document.title, window.location.pathname);
                }
            }
        </script>
    </div>
    <script src="__HOME__/js/securityPage_source/main.js"></script>
    <script src="__HOME__/js/securityPage_source/router.js"></script>
    <!-- 页面元素显示JS支持 -->
    <script type="text/javascript" src="__HOME__/js/securityPage_source/modernizr-latest.js"></script>
    <!-- 页面元素显示JS -->
    <script>
        // Animated items scrolled
        $(function() {
            var $window = $(window),
                win_height_padded = $window.height() * 1,
                isTouch = Modernizr.touch;
            if (isTouch) {
                $('.revealOnScroll').addClass('animated');
            }
            $window.on('scroll', revealOnScroll);

            function revealOnScroll() {
                var scrolled = $window.scrollTop(),
                    win_height_padded = $window.height() * 1;
                // Show
                $(".revealOnScroll:not(.animated)").each(function() {
                    var $this = $(this),
                        offsetTop = $this.offset().top;
                    if (scrolled + win_height_padded > offsetTop) {
                        if ($this.data('timeout')) {
                            window.setTimeout(function() {
                                $this.addClass('animated ' + $this.data('animation'));
                            }, parseInt($this.data('timeout'), 10));
                        } else {
                            $this.addClass('animated ' + $this.data('animation'));
                        }
                    }
                });
                // Hidden
                $(".revealOnScroll.animated").each(function(index) {
                    var $this = $(this),
                        offsetTop = $this.offset().top;
                    if (scrolled + win_height_padded < offsetTop) {
                        $(this).removeClass('animated fadeInUp');
                    }
                });
            }

            revealOnScroll();
        });

    </script>
</div>
<include file="public/footer" />